<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" href="index.html"
      [ngClass]="{'highlight': isHighlight}"
      [ngStyle]="{'font-size.px': fontSize}"
    >conduit</a>
    <!-- 不使用 ngModel 時，要完成雙向繫結所需要的程式碼 -->
    <!--
      <input
      class="form-control form-control-sm search-input"
      type="text"
      placeholder="Keyword"
      [value]="keyword"
      #input
      (input)="keywordInpu(input.value)"> -->
      <input
      class="form-control form-control-sm search-input"
      type="text"
      placeholder="Keyword"
      [(ngModel)]="keyword">
    <button class="btn btn-sm btn-primary" (click)="buttonClick($event)">
      <i class="ion-search"></i>
    </button>
    <span class="highlight" *ngIf="keyword === ''">請輸入關鍵字</span>
  </div>
  {{ keyword }}
  按鈕被按下去幾次:{{ count }}...
</nav>
